body {
  font-family: Garamond, Arial, Verdana, sans-serif;
  font-size: 100%;
  margin: 0; }

h1, h2, h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  letter-spacing: -0.05em; }

h1 {
  color: #c20000;
  font-size: 2.2em;
  line-height: 1.636em;
  margin: 0; }

h2 {
  font-size: 1.6em;
  color: #2786c2;
  margin: 0 0 1em 0; }

p {
  font-size: 1.04em;
  margin-bottom: 2em; }

h3 {
  color: black;
  margin: 0 0 0.5em 0; }

header {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "Reenie Beanie", cursive;
  font-weight: 400; }
  header .title {
    line-height: 20px;
    font-size: 40px;
    color: #0846d1; }
  header .description {
    font-size: 20px;
    color: #fc0636; }

article {
  margin-top: 8px;
  padding-left: 20px;
  color: #424242;
  line-height: 1.3em; }
  article li {
    list-style: circle;
    list-style-position: inside; }

.container {
  background: #f9fafe url("../images/flower-background.jpg") no-repeat top left; }

nav {
  color: #2a5383;
  font-weight: bolder;
  margin: 266px 0 0 0; }
  nav ul {
    list-style: none; }
    nav ul li {
      line-height: 0.8;
      font-size: 1.8em;
      margin: 16px 0;
      list-style: none;
      cursor: pointer;
      border-bottom: 1px solid grey; }
      nav ul li a {
        text-decoration: none;
        color: #424242 !important; }
        nav ul li a:hover {
          color: #850101 !important; }
      nav ul li.active a {
        color: #850101 !important; }
